<header class="navbar">
  <div class="logo">Ewha<br>Market</div>
  <nav>
    <a href="/">홈</a>
    <a href="/register">상품 등록</a>
    <a href="/list">상품 조회</a>
    <a href="/review/list">리뷰</a>

    {% if logged_in %}
      <a href="/logout" class="btn btn-small">로그아웃</a>
    {% else %}
      <a href="/login" class="btn btn-small">로그인</a>
    {% endif %}

    <button id="darkToggle" class="btn-dark" type="button">다크 모드</button>
  </nav>
</header>



<script src="{{ url_for('static', filename='main.js') }}"></script>

